@import url("//at.alicdn.com/t/font_1437018_3akharuuen5.css");

[class*="m-icon-"],
[class^="m-icon-"] {
  font-family: "vui-iconfont" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
